h2 {
    padding: 1rem;
}

.horizontal-content {
    display: flex;
    align-items: center;
    overflow: scroll;
    /* for firefox */
    scrollbar-width: none;
    height: calc(205.7px + 2rem);
}

/* for chrome */
.horizontal-content::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

.horizontal-content > div {
    flex: 0 0 330px;
    /* width: 330px; */
    height: 187px;
    background-color: #3f1917;
    border-radius: 3px;
    margin: 1rem 0.5rem;
}

.horizontal-content > div:hover,
.horizontal-content > div:active {
    flex: 0 0 346.5px;
    /* width: 330px; */
    height: 205.7px;
}

.parallax-image {
    background-image: url(../img/movie.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 600px;
    background-attachment: fixed;
}

.parallax-image h2 {
    color: white;
}

@media screen and (min-width: 1024px) {
    .horizontal-content {
        scrollbar-width: unset;
    }

    .horizontal-content::-webkit-scrollbar {
        background: lightgray;
        width: unset;
    }
}
